.guessLetter {
  border-bottom: 1px solid black;
  width: 10px;
  display: inline-block;
  margin: 5px;
}

.displayNone {
	display: none;
}

.display {
	display :inline-block;
}

.letter-button {
  border: none;
  background: green;
  color: white;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}

.button-disabled {
  background: red;
  cursor: not-allowed;
}
